<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     	http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<context:property-placeholder location="classpath:conf/jdbc.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${con.driverClassName}"></property>
		<property name="url" value="${con.url}"></property>
		<property name="username" value="${con.username}"></property>
		<property name="password" value="${con.password}"></property>
		<property name="maxActive" value="${con.maxActive}"></property>
		<property name="initialSize" value="${con.initialSize}"></property>
		<property name="maxIdle" value="${con.maxIdle}"></property>
		<property name="minIdle" value="${con.minIdle}"></property>
	</bean>
	<!-- mybatis文件配置，扫描所有mapper文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource" p:configLocation="classpath:conf/mybatis-config.xml"
		p:mapperLocations="classpath:mapper/*.xml" /><!-- configLocation为mybatis属性 
		mapperLocations为所有mapper -->

	<!-- spring与mybatis整合配置，扫描所有dao -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="com.green.phonemanage.dao" p:sqlSessionFactoryBeanName="sqlSessionFactory" />

	<!-- 对数据源进行事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config />
	 <!-- 设置不过滤内容，比如:css,jquery,img 等资源文件 -->
   <mvc:default-servlet-handler/>  
	<bean class="com.green.phonemanage.service.impl.ClientServiceImpl"
		id="clientService"></bean>
	<bean class="com.green.phonemanage.service.impl.PhoneServiceImpl"
		id="phoneService"></bean>
	<bean class="com.green.phonemanage.service.impl.UserServiceImpl"
		id="userService"></bean>
	<context:component-scan base-package="com.green.phonemanage.controller"></context:component-scan>
		<mvc:annotation-driven></mvc:annotation-driven>
		<!-- Freemarker配置 -->  
<bean id="freemarkerConfig"  
      class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
    <property name="templateLoaderPath" value="/WEB-INF/fl/" />  
    <property name="freemarkerSettings">  
        <props>  
            <prop key="template_update_delay">0</prop>  
            <prop key="default_encoding">UTF-8</prop>  
            <prop key="number_format">0.##########</prop>  
            <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>  
            <prop key="classic_compatible">true</prop>  
            <prop key="template_exception_handler">ignore</prop>  
        </props>  
    </property>  
</bean>  
<!--视图解释器 -->  
<bean id="viewResolver"
	class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">  
    <property name="suffix">  
        <value>.html</value>  
    </property>  
    <property name="contentType" value="text/html;charset=UTF-8"></property>  
    <property name="requestContextAttribute" value="base"></property>
</bean>  

	<!-- 通过注解对数据处理的适配 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>application/json;charset=UTF-8</value>
							<value>text/plain;charset=UTF-8</value>
						</list>
					</property>
				</bean>
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean>
	<!-- 视图资源的解析配置 -->
<!-- 	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>  -->
</beans>