<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.green.phonemanage.model.CellPhone"
			alias="CellPhone" />
		<typeAlias type="com.green.phonemanage.model.Client" alias="Client" />
		<typeAlias type="com.green.phonemanage.model.User" alias="User" />
		<typeAlias type="com.green.phonemanage.model.SearchForm"
			alias="SearchForm" />
		<typeAlias type="com.green.phonemanage.dao.CellPhoneDao"
			alias="CellPhoneDao" />
		<typeAlias type="com.green.phonemanage.dao.ClientDao" alias="ClientDao" />
		<typeAlias type="com.green.phonemanage.dao.UserDao" alias="UserDao" />
	</typeAliases>
	<mappers>
	</mappers>
</configuration>